$primary-color:#5A8636;
$green-light:#67973F;
$green-dark:#4D742D;
$grad-green: linear-gradient(220.94deg, #85AE64 14.43%, #4D742D 85.28%);
$gray1:#666566;
$gray2: #767576;
$gray3:#868587;
$black:#232224;
