*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
p {
    margin-top: 0;
    margin-bottom: 0;
}

body {
    overflow-x: hidden;
}

.clients owl-carousel .owl-nav.disabled {
    display: block;
}